.react-minimal-ui-button{
    padding:8px;
    width:100px;
    margin:5px;
}

.react-minimal-ui-button.primary{
    color: white;
    background: #3b5998;
}

.react-minimal-ui-button.secondary{
    border : 1px solid #3b5998;
}