.react-minimal-ui-card{
    border:1px solid blue;
    display:flex;
    width:350px;
    height:400px;
    box-shadow : 4px 4px 10px 0px #888888;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.react-minimal-ui-card img{
    width:100%;
    height:60%;
}